* {
  padding: 0;
  margin: 0;
}
body {
  background: #e0e8ff;
  margin: 0px;
  background-image: url("https://cdn.glitch.global/6dca09d2-1ee8-4ec1-adb8-77eb2d0b6d09/pattern-background-desktop.svg?v=1655820274205");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #ffffff;
  width: 400px;
  border-radius: 20px;
  max-width: 85%;
}

.picture {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
}

.second-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:29.1px 40px 40px;
}

.top-text {
  color: #1f2e55;
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  line-height: 37px;
  line-height: 100%;
  text-align: Center;
  margin: 0px 0px 17px 0px;
}

.bottom-text {
  color: #717fa6;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  line-height: 26px;
  line-height: 123%;
  text-align: Center;
  margin-bottom: 20px;
}

.third-container {
  background: #f7f9ff;
  margin-bottom: 32px;
  width: 354px;
  height: 98px;
  display: flex;
  align-items: center;
  border-radius: 11px;
}

.music-icon {
  margin-left: 24px;
}

.plan {
  color: #1f2e55;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  line-height: 100%;
  text-align: Left;
  margin-bottom: 6px;
  height: 21px;
}

.price {
  color: #717fa6;
  font-family: "Red Hat Display", sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 21px;
  line-height: 100%;
  text-align: Left;
}

.change-button {
  width: 52px;
  height: 19px;
  color: #382ae1;
  font-family: "Red Hat Display", sans-serif;
  font-style: bold;
  font-size: 14px;
  line-height: 19px;
  line-height: 100%;
  text-align: Left;
  font-weight: 700;
}

.price-ifno {
  display: flex;
  flex-direction: column;
  margin: 25px 74px 25px 35.15px;
}

.proceed {
  background: #382ae1;
  width: 354px;
  height: 50px;
  border-radius: 11px;
  border: none;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  line-height: 20px;
  line-height: 100%;
  font-weight: 900;
}

.last-text {
  background-color: transparent;
  font-family: "Red Hat Display", sans-serif;
  font-size: 15px;
  line-height: 20px;
  line-height: 100%;
  text-align: left;
  font-weight: 700;
  border: none;
  width: 108px;
  padding: 0px;
  color: #717fa6;
}

.last-text:hover {
  color: #1f2e55;
}

.proceed:hover {
  background-color: #766cf1;
}

.change-button:hover {
  color: #766cf1;
}
